.formBox{
    display: flex;
    align-items: center;
}

.formBox1{
    padding: 15px;
    align-items: center;
}


.submitButton{
    margin: 10px;
    padding:10px;
    width:25%;
    font-size:20px;
}

.contact{
  align-items: center;
    float: left;
    margin-left: 50%;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.accordion-header{
  float: left;
  margin-left: 50%;
  /* margin-right:20%; */
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}

   .accordion {
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .accordion.open .accordion-header {
    background-color: #f0f0f0;
  }
  
  .accordion-header {
    padding: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  .accordion-content {
    padding: 8px;
    display: none;
    /* margin-right: 10%; */
  }
  
  .accordion.open .accordion-content {
    display: block;
  }
  
  .formBox {
    display: flex;
    flex-wrap: wrap;
  }
  
  .formBox1 {
    flex: 1 1 23%;
    margin-bottom: 10px;
  }
  
  .formBoxTag {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
  }
  
  .formBoxInput {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submitButton {
    padding: 10px 20px;
    background-color: rgb(224,224,224);
    color: darkgray;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .submitButton:hover{
    color: black;
  }

  @media (max-width: 667px) {
    .formBox {
      flex-direction: column;
    }
  
    .formBox1 {
      flex: 1 1 100%;
    }
  
    .submitButton {
      width: 100%;
    }
  
    .contact,
    .accordion-header {
      margin-left: 0;
    }
  }